html, body {
  background-color: var(--primary);
  overflow-y: hidden; 

  .blue-november {
    .img-slider-responsive {
      width: 100%;
      max-width: 500px;
      height: auto;
      margin: 0 auto;
    }
    .seta {
      height: auto;
      width: 50px;
      position: absolute;
      z-index: 1;
      bottom: 20px;
      right: 20px;
    }
  }
}