html, body {
  background-color: var(--gray-light);

  .pink-october {
    // height: 100vh;
    .img-slider-responsive {
      width: 100%;
      max-width: 500px;
      height: auto;
      margin: 0 auto;
    }
  }
}